.container div{
    border: 1px black solid;
    padding: 5px;
}

.container {
    display: flex;
    gap: 1rem;
    flex-wrap: 1;
}
.one {
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
}

.two {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;

}

.three {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blueviolet;
}

.contain div {
    border: 1px black solid;
    padding: 5px;
}

.contain {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: 1;
}

.four {
    flex: 1;
    order: 3
}

.five {
    flex: 1;
    order: 1
}

.six {
    flex: 1;
    order: 2;
}