.container div{
    border: 1px black solid;
    padding: 5px;
}

.container {
    display: flex;
}
.one {
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
}

.two {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;

}

.three {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blueviolet;
}