.container div{
    border: 1px black solid;
    padding: 5px;
}

.container {
    display: flex;
}
.one {
    background-color: aquamarine;

}

.two {
    background-color: aqua;

}

.three {
    background-color: blueviolet;
}